* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* ---------------------------------
------------CATEGORY-------------
--------------------------------- */

.category-wrapper {
    display: flex;
    gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
.product-card {
    height: 20%;
    width: 15%;
    border: 2px solid red;
}

.img-card {
    object-fit: contain;
    max-width: 100%;
}

.add-btn {
    padding: 1rem 2rem;
    background-color: aqua;
    text-align: center;
    margin: 0 auto;

}

/* ---------------------------------
------------PRODUCT-------------
--------------------------------- */

.product-wrapper {
    display: flex;
     width: 90%;
    margin: 0 auto;
}

.product-img{
    object-fit: contain;
    max-width: 50%;
}